
<h3>Add new person</h3>
<form method="POST" action="/person/add">
    <input type="text" name="name" placeholder="Name">
    <input type="submit" value="Submit">
</form>


<h3>Add new location</h3>
<form method="POST" action="/location/add">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="state" placeholder="State">

    <input type="submit" value="Submit">
</form>

<h3>Connect friends</h3>
<form method="POST" action="/friends/connect">
    <input type="text" name="name1" placeholder="Name">
    <input type="text" name="name2" placeholder="Name">

    <input type="submit" value="Submit">
</form>

<h3>Add Birthplace</h3>
<form method="POST" action="/person/born/add">
    <input type="text" name="name" placeholder="Name">

    <input type="text" name="city" placeholder="City">
    <input type="text" name="state" placeholder="State">    
    <input type="text" name="year" placeholder="Year">


    <input type="submit" value="Submit">
</form>

<h3>People</h3>
<ul>

    <% persons.forEach((person) => { %>
        <li><%= person.name %> </li>
    <% }) %>

</ul>


<h3>Locations</h3>
<ul>

    <% locations.forEach((location) => { %>
        <li><%= location.city %>, <%= location.state %>  </li>
    <% }) %>

</ul>
